Client/Service References/Server/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValueResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCollectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropCollectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>